@font-face {
  font-family: "New York";
  src: url("../../../fonts/NewYork/Regular/NewYork.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "New York";
  src: url("../../../fonts/NewYork/Regular/NewYorkItalic.ttf");
  font-style: italic;
  font-weight: 400;
}