@import "../../colors/baseui";
@import "../../colors/lavender";
@import "../../fonts/import";

.cover-image {
  padding: 10em 0 10em 0;
}

.cover-text-container {
  padding: 10em 2em 10em 2em;
}
.light-cover-text {
  color: $neutral95;
}

.bg-gradient-primary {
  background-image: linear-gradient(195deg, $primary90, $primary80);
}