@import "../../colors/baseui";
@import "../../colors/lavender";
@import "../../fonts/import";

$navbar-gap: 0px !default;

.ml-bg-primary-container-light {
  background: $lightPrimaryContainer;
}

.ml-nav-brand-on-primary-container-light {
  font-size: 1.5rem;
  font-family: "New York Extra Large" !important;
  color: $lightOnPrimaryContainer !important;
}

.ml-nav-link-on-primary-container-light {
  font-family: "New York Extra Large" !important;
  color: $lightOnPrimaryContainer !important;
}