$position-large-margin-l: 50px !default;
$progress-height: 15px !default;
$progress-margin-vertical: $global-margin !default;
$progress-background: $global-muted-background !default;
$progress-bar-background: $global-primary-background !default;
$search-color: $global-color !default;
$search-placeholder-color: $global-muted-color !default;
$search-icon-color: $global-muted-color !default;
$search-default-width: 240px !default;
$search-default-height: $global-control-height !default;
$search-default-padding-horizontal: 10px !default;
$search-default-background: $global-muted-background !default;
$search-default-focus-background: darken($search-default-background, 5%) !default;
$search-default-icon-width: $global-control-height !default;
$search-default-icon-padding: 0 !default;
$search-navbar-width: 400px !default;
$search-navbar-height: 40px !default;
$search-navbar-background: transparent !default;
$search-navbar-font-size: $global-large-font-size !default;
$search-navbar-icon-width: 40px !default;
$search-navbar-icon-padding: 0 !default;
$search-large-width: 500px !default;
$search-large-height: 80px !default;
$search-large-background: transparent !default;
$search-large-font-size: $global-2xlarge-font-size !default;
$search-large-icon-width: 80px !default;
$search-large-icon-padding: 0 !default;
$search-toggle-color: $global-muted-color !default;
$search-toggle-hover-color: $global-color !default;
$inverse-search-color: $inverse-global-color !default;
$inverse-search-placeholder-color: $inverse-global-muted-color !default;
$inverse-search-icon-color: $inverse-global-muted-color !default;
$inverse-search-default-background: $inverse-global-muted-background !default;
$inverse-search-default-focus-background: fade-in($inverse-search-default-background, 0.05) !default;
$inverse-search-navbar-background: transparent !default;
$inverse-search-large-background: transparent !default;
$inverse-search-toggle-color: $inverse-global-muted-color !default;
$inverse-search-toggle-hover-color: $inverse-global-color !default;
$section-padding-vertical: $global-medium-margin !default;
$section-padding-vertical-m: $global-large-margin !default;
$section-xsmall-padding-vertical: $global-margin !default;
$section-small-padding-vertical: $global-medium-margin !default;
$section-large-padding-vertical: $global-large-margin !default;
$section-large-padding-vertical-m: $global-xlarge-margin !default;
$section-xlarge-padding-vertical: $global-xlarge-margin !default;
$section-xlarge-padding-vertical-m: ($global-large-margin + $global-xlarge-margin) !default;
$section-default-background: $global-background !default;
$section-muted-background: $global-muted-background !default;
$section-primary-background: $global-primary-background !default;
$section-primary-color-mode: light !default;
$section-secondary-background: $global-secondary-background !default;
$section-secondary-color-mode: light !default;
$slidenav-padding-vertical: 5px !default;
$slidenav-padding-horizontal: 10px !default;
$slidenav-color: rgba($global-color, 0.5) !default;
$slidenav-hover-color: rgba($global-color, 0.9) !default;
$slidenav-active-color: rgba($global-color, 0.5) !default;
$slidenav-large-padding-vertical: 10px !default;
$slidenav-large-padding-horizontal: $slidenav-large-padding-vertical !default;
$inverse-slidenav-color: rgba($inverse-global-color, 0.7) !default;
$inverse-slidenav-hover-color: rgba($inverse-global-color, 0.95) !default;
$inverse-slidenav-active-color: rgba($inverse-global-color, 0.7) !default;
$slider-container-margin-top: -11px !default;
$slider-container-margin-bottom: -39px !default;
$slider-container-margin-left: -25px !default;
$slider-container-margin-right: -25px !default;
$sortable-dragged-z-index: $global-z-index + 50 !default;
$sortable-placeholder-opacity: 0 !default;
$sortable-empty-height: 50px !default;
$spinner-size: 30px !default;
$spinner-stroke-width: 1 !default;
$spinner-radius: floor((($spinner-size - $spinner-stroke-width) * 0.5)) !default;
$spinner-circumference: round(2 * 3.141 * $spinner-radius) !default;
$spinner-duration: 1.4s !default;
$sticky-z-index: $global-z-index - 20 !default;
$sticky-animation-duration: 0.2s !default;
$sticky-reverse-animation-duration: 0.2s !default;
$subnav-margin-horizontal: 20px !default;
$subnav-item-color: $global-muted-color !default;
$subnav-item-hover-color: $global-color !default;
$subnav-item-hover-text-decoration: none !default;
$subnav-item-active-color: $global-emphasis-color !default;
$subnav-divider-margin-horizontal: $subnav-margin-horizontal !default;
$subnav-divider-border-height: 1.5em !default;
$subnav-divider-border-width: $global-border-width !default;
$subnav-divider-border: $global-border !default;
$subnav-pill-item-padding-vertical: 5px !default;
$subnav-pill-item-padding-horizontal: 10px !default;
$subnav-pill-item-background: transparent !default;
$subnav-pill-item-color: $subnav-item-color !default;
$subnav-pill-item-hover-background: $global-muted-background !default;
$subnav-pill-item-hover-color: $global-color !default;
$subnav-pill-item-onclick-background: $subnav-pill-item-hover-background !default;
$subnav-pill-item-onclick-color: $subnav-pill-item-hover-color !default;
$subnav-pill-item-active-background: $global-primary-background !default;
$subnav-pill-item-active-color: $global-inverse-color !default;
$subnav-item-disabled-color: $global-muted-color !default;
$inverse-subnav-item-color: $inverse-global-muted-color !default;
$inverse-subnav-item-hover-color: $inverse-global-color !default;
$inverse-subnav-item-active-color: $inverse-global-emphasis-color !default;
$inverse-subnav-divider-border: $inverse-global-border !default;
$inverse-subnav-pill-item-background: transparent !default;
$inverse-subnav-pill-item-color: $inverse-global-muted-color !default;
$inverse-subnav-pill-item-hover-background: $inverse-global-muted-background !default;
$inverse-subnav-pill-item-hover-color: $inverse-global-color !default;
$inverse-subnav-pill-item-onclick-background: $inverse-subnav-pill-item-hover-background !default;
$inverse-subnav-pill-item-onclick-color: $inverse-subnav-pill-item-hover-color !default;
$inverse-subnav-pill-item-active-background: $inverse-global-primary-background !default;
$inverse-subnav-pill-item-active-color: $inverse-global-inverse-color !default;
$inverse-subnav-item-disabled-color: $inverse-global-muted-color !default;
$tab-margin-horizontal: 20px !default;
$tab-item-padding-horizontal: 10px !default;
$tab-item-padding-vertical: 5px !default;
$tab-item-color: $global-muted-color !default;
$tab-item-hover-color: $global-color !default;
$tab-item-hover-text-decoration: none !default;
$tab-item-active-color: $global-emphasis-color !default;
$tab-item-disabled-color: $global-muted-color !default;
$inverse-tab-item-color: $inverse-global-muted-color !default;
$inverse-tab-item-hover-color: $inverse-global-color !default;
$inverse-tab-item-active-color: $inverse-global-emphasis-color !default;
$inverse-tab-item-disabled-color: $inverse-global-muted-color !default;
$table-margin-vertical: $global-margin !default;
$table-cell-padding-vertical: 16px !default;
$table-cell-padding-horizontal: 12px !default;
$table-header-cell-font-size: $global-font-size !default;
$table-header-cell-font-weight: bold !default;
$table-header-cell-color: $global-color !default;
$table-footer-font-size: $global-small-font-size !default;
$table-caption-font-size: $global-small-font-size !default;
$table-caption-color: $global-muted-color !default;
$table-row-active-background: #ffd !default;
$table-divider-border-width: $global-border-width !default;
$table-divider-border: $global-border !default;
$table-striped-row-background: $global-muted-background !default;
$table-hover-row-background: $table-row-active-background !default;
$table-small-cell-padding-vertical: 10px !default;
$table-small-cell-padding-horizontal: 12px !default;
$table-large-cell-padding-vertical: 22px !default;
$table-large-cell-padding-horizontal: 12px !default;
$table-expand-min-width: 150px !default;
$inverse-table-header-cell-color: $inverse-global-color !default;
$inverse-table-caption-color: $inverse-global-muted-color !default;
$inverse-table-row-active-background: fade-out($inverse-global-muted-background, 0.02) !default;
$inverse-table-divider-border: $inverse-global-border !default;
$inverse-table-striped-row-background: $inverse-global-muted-background !default;
$inverse-table-hover-row-background: $inverse-table-row-active-background !default;
$text-lead-font-size: $global-large-font-size !default;
$text-lead-line-height: 1.5 !default;
$text-lead-color: $global-emphasis-color !default;
$text-meta-font-size: $global-small-font-size !default;
$text-meta-line-height: 1.4 !default;
$text-meta-color: $global-muted-color !default;
$text-small-font-size: $global-small-font-size !default;
$text-small-line-height: 1.5 !default;
$text-large-font-size: $global-large-font-size !default;
$text-large-line-height: 1.5 !default;
$text-muted-color: $global-muted-color !default;
$text-emphasis-color: $global-emphasis-color !default;
$text-primary-color: $global-primary-background !default;
$text-secondary-color: $global-secondary-background !default;
$text-success-color: $global-success-background !default;
$text-warning-color: $global-warning-background !default;
$text-danger-color: $global-danger-background !default;
$text-background-color: $global-primary-background !default;
$inverse-text-lead-color: $inverse-global-color !default;
$inverse-text-meta-color: $inverse-global-muted-color !default;
$inverse-text-muted-color: $inverse-global-muted-color !default;
$inverse-text-emphasis-color: $inverse-global-emphasis-color !default;
$inverse-text-primary-color: $inverse-global-primary-background !default;
$inverse-text-secondary-color: $inverse-global-primary-background !default;
$thumbnav-margin-horizontal: 15px !default;
$thumbnav-margin-vertical: $thumbnav-margin-horizontal !default;
$tile-padding-horizontal: 15px !default;
$tile-padding-horizontal-s: $global-gutter !default;
$tile-padding-horizontal-m: $global-medium-gutter !default;
$tile-padding-vertical: $global-medium-margin !default;
$tile-padding-vertical-m: $global-large-margin !default;
$tile-xsmall-padding-vertical: $global-margin !default;
$tile-small-padding-vertical: $global-medium-margin !default;
$tile-large-padding-vertical: $global-large-margin !default;
$tile-large-padding-vertical-m: $global-xlarge-margin !default;
$tile-xlarge-padding-vertical: $global-xlarge-margin !default;
$tile-xlarge-padding-vertical-m: ($global-large-margin + $global-xlarge-margin) !default;
$tile-default-background: $global-background !default;
$tile-muted-background: $global-muted-background !default;
$tile-primary-background: $global-primary-background !default;
$tile-primary-color-mode: light !default;
$tile-secondary-background: $global-secondary-background !default;
$tile-secondary-color-mode: light !default;
$tooltip-z-index: $global-z-index + 30 !default;
$tooltip-margin: 10px !default;
$tooltip-max-width: 200px !default;
$tooltip-padding-vertical: 3px !default;
$tooltip-padding-horizontal: 6px !default;
$tooltip-background: #666 !default;
$tooltip-border-radius: 2px !default;
$tooltip-color: $global-inverse-color !default;
$tooltip-font-size: 12px !default;
$totop-padding: 5px !default;
$totop-color: $global-muted-color !default;
$totop-hover-color: $global-color !default;
$totop-active-color: $global-emphasis-color !default;
$inverse-totop-color: $inverse-global-muted-color !default;
$inverse-totop-hover-color: $inverse-global-color !default;
$inverse-totop-active-color: $inverse-global-emphasis-color !default;
$transition-duration: 0.3s !default;
$transition-scale: 1.03 !default;
$transition-slide-small-translate: 10px !default;
$transition-slide-medium-translate: 50px !default;
$transition-slow-duration: 0.7s !default;
$panel-scrollable-height: 170px !default;
$panel-scrollable-padding: 10px !default;
$panel-scrollable-border-width: $global-border-width !default;
$panel-scrollable-border: $global-border !default;
$border-rounded-border-radius: 5px !default;
$box-shadow-duration: 0.1s !default;
$box-shadow-bottom-height: 30px !default;
$box-shadow-bottom-bottom: (-$box-shadow-bottom-height) !default;
$box-shadow-bottom-border-radius: 100% !default;
$box-shadow-bottom-background: #444 !default;
$box-shadow-bottom-blur: 20px !default;
$dropcap-margin-right: 10px !default;
$dropcap-font-size: (($global-line-height * 3) * 1em) !default;
$logo-font-size: $global-large-font-size !default;
$logo-font-family: $global-font-family !default;
$logo-color: $global-emphasis-color !default;
$logo-hover-color: $global-emphasis-color !default;
$dragover-box-shadow: 0 0 20px rgba(100,100,100,0.3) !default;
$inverse-logo-color: $inverse-global-emphasis-color !default;
$inverse-logo-hover-color: $inverse-global-emphasis-color !default;
$deprecated: false !default;
$breakpoint-small: 640px !default;
$breakpoint-medium: 960px !default;
$breakpoint-large: 1200px !default;
$breakpoint-xlarge: 1600px !default;
$breakpoint-xsmall-max: ($breakpoint-small - 1) !default;
$breakpoint-small-max: ($breakpoint-medium - 1) !default;
$breakpoint-medium-max: ($breakpoint-large - 1) !default;
$breakpoint-large-max: ($breakpoint-xlarge - 1) !default;
$global-small-box-shadow: 0 2px 8px rgba(0,0,0,0.08) !default;
$global-medium-box-shadow: 0 5px 15px rgba(0,0,0,0.08) !default;
$global-large-box-shadow: 0 14px 25px rgba(0,0,0,0.16) !default;
$global-xlarge-box-shadow: 0 28px 50px rgba(0,0,0,0.16) !default;
$width-small-width: 150px !default;
$width-medium-width: 300px !default;
$width-large-width: 450px !default;
$width-xlarge-width: 600px !default;
$width-2xlarge-width: 750px !default;