$primary100: #FFFFFF;
$primary99: #FEFAFF;
$primary95: #FFE7f2;
$primary90: #FECCEA;
$primary80: #FD97D8;
$primary70: #E075C0;
$primary60: #BC5B9F;
$primary50: #9B4381;
$primary40:
$primary30:
$primary20:
$primary10:
$primary0: