// Globals
$global-margin: 20px !default;
$global-medium-font-size: 1.25rem !default;
$global-emphasis-color: #333333 !default;
$global-color: #666666 !default;
$global-inverse-color: #ffffff !default;
$global-muted-background: #f8f8f8 !default;
