@font-face {
  font-family: "New York";
  src: url("../../fonts/NewYork/Regular/NewYork.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "New York";
  src: url("../../fonts/NewYork/Regular/NewYorkItalic.ttf");
  font-style: italic;
  font-weight: 400;
}

/* -- New York, Extra Large -- */
@font-face {
  font-family: "New York Extra Large";
  src: url("../../fonts/NewYork/ExtraLarge/NewYorkExtraLarge-Regular.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "New York Extra Large";
  src: url("../../fonts/NewYork/ExtraLarge/NewYorkExtraLarge-RegularItalic.otf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "New York Extra Large";
  src: url("../../fonts/NewYork/ExtraLarge/NewYorkExtraLarge-Medium.otf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "New york Extra Large";
  src: url("../../fonts/NewYork/ExtraLarge/NewYorkExtraLarge-MediumItalic.otf");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "New York Extra Large";
  src: url("../../fonts/NewYork/ExtraLarge/NewYorkExtraLarge-Semibold.otf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "New York Extra Large";
  src: url("../../fonts/NewYork/ExtraLarge/NewYorkExtraLarge-SemiboldItalic.otf");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "New York Extra Large";
  src: url("../../fonts/NewYork/ExtraLarge/NewYorkExtraLarge-Bold.otf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "New York Extra Large";
  src: url("../../fonts/NewYork/ExtraLarge/NewYorkExtraLarge-BoldItalic.otf");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "New York Extra Large";
  src: url("../../fonts/NewYork/ExtraLarge/NewYorkExtraLarge-Heavy.otf");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "New York Extra Large";
  src: url("../../fonts/NewYork/ExtraLarge/NewYorkExtraLarge-HeavyItalic.otf");
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: "New York Extra Large";
  src: url("../../fonts/NewYork/ExtraLarge/NewYorkExtraLarge-Black.otf");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "New York Extra Large";
  src: url("../../fonts/NewYork/ExtraLarge/NewYorkExtraLarge-BlackItalic.otf");
  font-style: italic;
  font-weight: 900;
}