$info100: #FFFFFF !important;
$info99: #F5FDFF !important;
$info95: #CDF5FF !important;
$info90: #95EAFF !important;
$info80: #47CEEC !important;
$info70: #26ADCA !important;
$info60: #118FA6 !important;
$info50: #0F7084 !important;
$info40: #0A5564 !important;
$info30: #083E47 !important;
$info20: #042930 !important;
$info10: #02171C !important;
$info0: #000000 !important;

$lightInfo: $info40 !important;
$lightOnInfo: $info100 !important;
$lightInfoContainer: $info90 !important;
$lightOnInfoContainer: $info10 !important;
$darkInfo: $info80 !important;
$darkOnInfo: $info20 !important;
$darkInfoContainer: $info30 !important;
$darkInfoOnContainer: $info90 !important;

$success100: #FFFFFF !important;
$success99: #F5FFEB !important;
$success95: #C1FFAD !important;
$success90: #70FF5D !important;
$success80: #55DE45 !important;
$success70: #3BBB30 !important;
$success60: #219A1B !important;
$success50: #0F7C0F !important;
$success40: #0C5D0B !important;
$success30: #084408 !important;
$success20: #052D05 !important;
$success10: #011A02 !important;
$success0: #000000 !important;

$warning100: #FFFFFF !important;
$warning99: #FEFAFF !important;
$warning95: #FEEBCA !important;
$warning90: #FFD98B !important;
$warning80: #F3B220 !important;
$warning70: #CE9307 !important;
$warning60: #A77804 !important;
$warning50: #845E02 !important;
$warning40: #644801 !important;
$warning30: #483402 !important;
$warning20: #2F2300 !important;
$warning10: #1B1401 !important;
$warning0: #000000 !important;

$error100: #FFFFFF !important;
$error99: #FEFAFF !important;
$error95: #FFE7E4 !important;
$error90: #FED0CD !important;
$error80: #FDA39A !important;
$error70: #FC726B !important;
$error60: #FC3B39 !important;
$error50: #D32125 !important;
$error40: #AA0215 !important;
$error30: #7E000B !important;
$error20: #550007 !important;
$error10: #310003 !important;
$error0: #000000 !important;

$neutral100: #FFFFFF !important;
$neutral99: #FEFAFF !important;
$neutral95: #F7E9EE !important;
$neutral90: #E4D8DC !important;
$neutral80: #C2B7BB !important;
$neutral70: #A2989C !important;
$neutral60: #857C80 !important;
$neutral50: #6A6165 !important;
$neutral40: #504A4D !important;
$neutral30: #3A3538 !important;
$neutral20: #272325 !important;
$neutral10: #171416 !important;
$neutral0: #000000 !important;

$neutralVariant100: #FFFFFF !important;
$neutralVariant99: #FEFAFF !important;
$neutralVariant95: #FDE6F2 !important;
$neutralVariant90: #EAD6E0 !important;
$neutralVariant80: #C8B3BF !important;
$neutralVariant70: #A8959F !important;
$neutralVariant60: #897982 !important;
$neutralVariant50: #6E5F67 !important;
$neutralVariant40: #54484F !important;
$neutralVariant30: #3E343A !important;
$neutralVariant20: #2A2127 !important;
$neutralVariant10: #1A1317 !important;
$neutralVariant0: #000000 !important;

$lightbackground: $neutral99 !important;
$lightOnBackbround: $neutral10 !important;
$lightSurface: $neutral99 !important;
$lightOnSurface: $neutral10 !important;

$lightSurfaceVariant: $neutralVariant90 !important;
$lightOnSurfaceVariant: $neutralVariant30 !important;
$lightOutline: $neutralVariant50 !important;

$darkBackground: $neutral10 !important;
$darkOnBackground: $neutral90 !important;
$darkSurface: $neutral10 !important;
$darkOnSurface: $neutral90 !important;

$darkSurfaceVariant: $neutralVariant30 !important;
$darkOnSurfaceVariant: $neutralVariant80 !important;
$darkOutline: $neutralVariant60 !important;