$info100: #FFFFFF !default;
$info99: #F5FDFF !default;
$info95: #CDF5FF !default;
$info90: #95EAFF !default;
$info80: #47CEEC !default;
$info70: #26ADCA !default;
$info60: #118FA6 !default;
$info50: #0F7084 !default;
$info40: #0A5564 !default;
$info30: #083E47 !default;
$info20: #042930 !default;
$info10: #02171C !default;
$info0: #000000 !default;

$lightInfo: $info40 !default;
$lightOnInfo: $info100 !default;
$lightInfoContainer: $info90 !default;
$lightOnInfoContainer: $info10 !default;
$darkInfo: $info80 !default;
$darkOnInfo: $info20 !default;
$darkInfoContainer: $info30 !default;
$darkInfoOnContainer: $info90 !default;

$success100: #FFFFFF !default;
$success99: #F5FFEB !default;
$success95: #C1FFAD !default;
$success90: #70FF5D !default;
$success80: #55DE45 !default;
$success70: #3BBB30 !default;
$success60: #219A1B !default;
$success50: #0F7C0F !default;
$success40: #0C5D0B !default;
$success30: #084408 !default;
$success20: #052D05 !default;
$success10: #011A02 !default;
$success0: #000000 !default;

$warning100: #FFFFFF !default;
$warning99: #FEFAFF !default;
$warning95: #FEEBCA !default;
$warning90: #FFD98B !default;
$warning80: #F3B220 !default;
$warning70: #CE9307 !default;
$warning60: #A77804 !default;
$warning50: #845E02 !default;
$warning40: #644801 !default;
$warning30: #483402 !default;
$warning20: #2F2300 !default;
$warning10: #1B1401 !default;
$warning0: #000000 !default;

$error100: #FFFFFF !default;
$error99: #FEFAFF !default;
$error95: #FFE7E4 !default;
$error90: #FED0CD !default;
$error80: #FDA39A !default;
$error70: #FC726B !default;
$error60: #FC3B39 !default;
$error50: #D32125 !default;
$error40: #AA0215 !default;
$error30: #7E000B !default;
$error20: #550007 !default;
$error10: #310003 !default;
$error0: #000000 !default;

$neutral100: #FFFFFF !default;
$neutral99: #FEFAFF !default;
$neutral95: #F7E9EE !default;
$neutral90: #E4D8DC !default;
$neutral80: #C2B7BB !default;
$neutral70: #A2989C !default;
$neutral60: #857C80 !default;
$neutral50: #6A6165 !default;
$neutral40: #504A4D !default;
$neutral30: #3A3538 !default;
$neutral20: #272325 !default;
$neutral10: #171416 !default;
$neutral0: #000000 !default;

$neutralVariant100: #FFFFFF !default;
$neutralVariant99: #FEFAFF !default;
$neutralVariant95: #FDE6F2 !default;
$neutralVariant90: #EAD6E0 !default;
$neutralVariant80: #C8B3BF !default;
$neutralVariant70: #A8959F !default;
$neutralVariant60: #897982 !default;
$neutralVariant50: #6E5F67 !default;
$neutralVariant40: #54484F !default;
$neutralVariant30: #3E343A !default;
$neutralVariant20: #2A2127 !default;
$neutralVariant10: #1A1317 !default;
$neutralVariant0: #000000 !default;

$lightBackground: $neutral99 !default;
$lightOnBackground: $neutral10 !default;
$lightSurface: $neutral99 !default;
$lightOnSurface: $neutral10 !default;

$lightSurfaceVariant: $neutralVariant90 !default;
$lightOnSurfaceVariant: $neutralVariant30 !default;
$lightOutline: $neutralVariant50 !default;

$darkBackground: $neutral10 !default;
$darkOnBackground: $neutral90 !default;
$darkSurface: $neutral10 !default;
$darkOnSurface: $neutral90 !default;

$darkSurfaceVariant: $neutralVariant30 !default;
$darkOnSurfaceVariant: $neutralVariant80 !default;
$darkOutline: $neutralVariant60 !default;