$primary100: #FFFFFF !important;
$primary99: #FEFAFF !important;
$primary95: #FFE7f2 !important;
$primary90: #FECCEA !important;
$primary80: #FD97D8 !important;
$primary70: #E075C0 !important;
$primary60: #BC5B9F !important;
$primary50: #9B4381 !important;
$primary40: #7C2D66 !important;
$primary30: #5F1B4F !important;
$primary20: #450739 !important;
$primary10: #2C0024 !important;
$primary0: #000000 !important;

$secondary100: #FFFFFF !important;
$secondary99: #FEFAFF !important;
$secondary95: #FFE7F2 !important;
$secondary90: #F8D0E6 !important;
$secondary80: #D4AFC4 !important;
$secondary70: #B390A5 !important;
$secondary60: #937587 !important;
$secondary50: #775C6C !important;
$secondary40: #5C4453 !important;
$secondary30: #44303D !important;
$secondary20: #301F29 !important;
$secondary10: #1D1119 !important;
$secondary0: #000000 !important;

$tertiary100: #FFFFFF !important;
$tertiary99: #FEFAFF !important;
$tertiary95: #FFE7E1 !important;
$tertiary90: #FED2C2 !important;
$tertiary80: #F0A98F !important;
$tertiary70: #CC8D75 !important;
$tertiary60: #A9715B !important;
$tertiary50: #8B5845 !important;
$tertiary40: #6C4130 !important;
$tertiary30: #512D1F !important;
$tertiary20: #3A1D11 !important;
$tertiary10: #250F05 !important;
$tertiary0: #000000 !important;


$lightPrimary: $primary40 !important;
$lightOnPrimary: $primary100 !important;
$lightPrimaryContainer: $primary90 !important;
$lightOnPrimaryContainer: $primary10 !important;

$lightSecondary: $secondary40 !important;
$lightOnSecondary: $secondary100 !important;
$lightSecondaryContainer: $secondary90 !important;
$lightOnSecondaryContainer: $secondary10 !important;

$lightTertiary: $tertiary40 !important;
$lightOnTertiary: $tertiary100 !important;
$lightTertiaryContainer: $tertiary90 !important;
$lightOnTertiaryContainer: $tertiary10 !important;

