$primary100: #FFFFFF !important;
$primary99: #FEFAFF !important;
$primary95: #F3E7FF !important;
$primary90: #E5D2FE !important;
$primary80: #C5ABFF !important;
$primary70: #A686F6 !important;
$primary60: #876AD2 !important;
$primary50: #6B4FB0 !important;
$primary40: #533A93 !important;
$primary30: #3D2478 !important;
$primary20: #29105F !important;
$primary10: #18004A !important;
$primary0: #000000 !important;

$secondary100: #FFFFFF !important;
$secondary99: #FEFAFF !important;
$secondary95: #F3E7FF !important;
$secondary90: #E2D4F6 !important;
$secondary80: #C0B3D4 !important;
$secondary70: #A095B3 !important;
$secondary60: #837994 !important;
$secondary50: #675D76 !important;
$secondary40: #4F485D !important;
$secondary30: #393345 !important;
$secondary20: #262132 !important;
$secondary10: #161320 !important;
$secondary0: #000000 !important;

$tertiary100: #FFFFFF !important;
$tertiary99: #FEFAF9 !important;
$tertiary95: #FFE7EE !important;
$tertiary90: #FECDDE !important;
$tertiary80: #E9A7BD !important;
$tertiary70: #C7899C !important;
$tertiary60: #A46E80 !important;
$tertiary50: #855454 !important;
$tertiary40: #693F4E !important;
$tertiary30: #4F2C38 !important;
$tertiary20: #381B26 !important;
$tertiary10: #240D16 !important;
$tertiary0: #000000 !important;


$lightPrimary: $primary40 !important;
$lightOnPrimary: $primary100 !important;
$lightPrimaryContainer: $primary90 !important;
$lightOnPrimaryContainer: $primary10 !important;

$lightSecondary: $secondary40 !important;
$lightOnSecondary: $secondary100 !important;
$lightSecondaryContainer: $secondary90 !important;
$lightOnSecondaryContainer: $secondary10 !important;

$lightTertiary: $tertiary40 !important;
$lightOnTertiary: $tertiary100 !important;
$lightTertiaryContainer: $tertiary90 !important;
$lightOnTertiaryContainer: $tertiary10 !important;

