$primary100: #FFFFFF !default;
$primary99: #FEFAFF !default;
$primary95: #F3E7FF !default;
$primary90: #E5D2FE !default;
$primary80: #C5ABFF !default;
$primary70: #A686F6 !default;
$primary60: #876AD2 !default;
$primary50: #6B4FB0 !default;
$primary40: #533A93 !default;
$primary30: #3D2478 !default;
$primary20: #29105F !default;
$primary10: #18004A !default;
$primary0: #000000 !default;

$secondary100: #FFFFFF !default;
$secondary99: #FEFAFF !default;
$secondary95: #F3E7FF !default;
$secondary90: #E2D4F6 !default;
$secondary80: #C0B3D4 !default;
$secondary70: #A095B3 !default;
$secondary60: #837994 !default;
$secondary50: #675D76 !default;
$secondary40: #4F485D !default;
$secondary30: #393345 !default;
$secondary20: #262132 !default;
$secondary10: #161320 !default;
$secondary0: #000000 !default;

$tertiary100: #FFFFFF !default;
$tertiary99: #FEFAF9 !default;
$tertiary95: #FFE7EE !default;
$tertiary90: #FECDDE !default;
$tertiary80: #E9A7BD !default;
$tertiary70: #C7899C !default;
$tertiary60: #A46E80 !default;
$tertiary50: #855454 !default;
$tertiary40: #693F4E !default;
$tertiary30: #4F2C38 !default;
$tertiary20: #381B26 !default;
$tertiary10: #240D16 !default;
$tertiary0: #000000 !default;


$lightPrimary: $primary40 !default;
$lightOnPrimary: $primary100 !default;
$lightPrimaryContainer: $primary90 !default;
$lightOnPrimaryContainer: $primary10 !default;

$lightSecondary: $secondary40 !default;
$lightOnSecondary: $secondary100 !default;
$lightSecondaryContainer: $secondary90 !default;
$lightOnSecondaryContainer: $secondary10 !default;

$lightTertiary: $tertiary40 !default;
$lightOnTertiary: $tertiary100 !default;
$lightTertiaryContainer: $tertiary90 !default;
$lightOnTertiaryContainer: $tertiary10 !default;

